# Environments
.env
.venv/
venv/
ENV/
env/

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Database
db.sqlite3

# Python bytecode/caches
__pycache__/
*.py[cod]
*$py.class

# Django media & static files
media/
staticfiles/
static_collected/

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local development files
scratch/
db_dump.json
